*{
    font-family: 'Roboto Mono', monospace;
    color: black;
}

.login{
    font-size: 13px;
}
.dump{
    font-size: 13px;
}
.str{
    font-size: 12px;
}
#name{
    font-size: 30px;
    font-weight: bold;
}

.deliv{
    padding: 0px 60px;
}

.footer-link{
    text-decoration:none;
    color: black;
}




